.rule__main {
  padding: 5px;
  margin: 5px 0;
  border: rgba(143, 141, 140, 0.397) 0.5px solid;
}

.rule__progress {
  &-bar {
    width: 90%;
    height: 110%;
    display: inline-block;
  }

  &-time {
    top: -3px;
    position: relative;

    padding: 4px;
    font-size: 70%;
    color: white;
    font-weight: bold;

    margin-left: 10px;
    border-radius: 50%;
    background-color: #007bff;
  }
}

.rule__time-day {
  text-align: center;

  :not(:first-child) {
    font-size: 75%;
  }

  :not(:last-child) {
    padding-right: 10px;
  }
}
