.header__main {
  padding: 10px;
  font-size: 1.5rem;

  top: 0;
  width: 100%;
  position: fixed;
  background-color: #333;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #65e0f0;
  border-bottom: 1px solid rgba(168, 167, 167, 0.753);
}

.header__title {
  font-weight: bold;
}

.settings__button {
  &,
  &:link,
  &:visited {
    cursor: pointer;
    display: inline-block;
  }

  transition: all 0.3s;

  &:hover {
    color: #65f088;
  }

  &:active {
    transform: translateY(0.3rem);
    color: #007bff;
  }

  svg {
    font-size: 120%;
  }
}
