.header__main {
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;

  top: 0;
  width: 100%;
  position: fixed;
  // background-color: #007bff; // 24292e 007bff

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid rgba(168, 167, 167, 0.753);
}

.blue {
  background-color: #007bff;
}

.black {
  background-color: #24292e;
}

.header__title {
  font-weight: bold;
}

.header__button {
  color: #fff;
  cursor: pointer;
  margin: auto 8px;
  transition: all 0.3s;
  display: inline-block;

  &:hover {
    color: #1afb52; // 65f088
  }

  &:active {
    transform: translateY(0.3rem);
  }

  svg {
    font-size: 120%;
  }
}
